<?php
//konfigurasi database
define('DB_HOST', 'database_host');
define('DB_USER', 'database_username');
define('DB_PASS', 'database_password');
define('DB_NAME', 'database_name');


// Membuat koneksi
$nama_projek = ''; // ganti dengan nama projek kamu
$conn = new mysqli(DB_HOST, DB_USER, DB_PASS, DB_NAME);

// Membuat BASE_URL dinamis
define('BASE_PATH', 'http://' . $nama_projek .'.localhost');
define('FUNCT', BASE_PATH . '/function');

// Membuat FUNCTION dinamis
define('CUSTOMER', FUNCT . '/customer');
define('SUPPLIER', FUNCT . '/supplier');
define('ITEM', FUNCT . '/product');
define('ITEM_CUSTOMER', FUNCT . '/itemCustomer');
define('INVOICE', FUNCT . '/invoice');
?>